name: Run unit test

on:
  - push

jobs:
  unittest:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Check out git repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install package
        run: npm install

      - name: Run test
        run: npm run test:cov

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3

      # - name: Upload coverage reports to Codecov
      #   run: |
      #     curl -Os https://uploader.codecov.io/latest/linux/codecov
      #     chmod +x codecov
      #     ./codecov -t ${{ secrets.CODECOV_TOKEN }}
